* text=auto eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.razor text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.slnx text eol=lf
