# DocFX output directory
_site/

# Backup files
*~

# VS Code settings
.vscode/

.history/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
.env
.env.local
.env.*.local
.vs/

bin/
obj/

