/* MainLayout.razor.css */
main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5,39,103) 0%, #3a0647 70%);
}

.navbar-toggler {
    background-color: rgba(255,255,255,0.1);
}

.navbar-brand {
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.37);
            color: #fff;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: #fff;
        }

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

@media (max-width: 959.98px) {
    .mud-main-content {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}

@media (min-width: 960px) {
    .mud-layout > footer {
        position: fixed;
        bottom: 0;
        width: calc(100% - var(--mud-drawer-width-left, 280px));
        margin-left: var(--mud-drawer-width-left, 280px);
        z-index: 998;
        background-color: var(--mud-palette-background);
    }

    .mud-main-content .mud-container {
        padding-bottom: calc(var(--mud-appbar-height) + 40px) !important;
    }

    .mud-main-content {
        padding-left: 0px !important;
    }
}

.mud-main-content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.mud-drawer-fixed-open {
    width: 280px !important;
}

.mud-appbar {
    z-index: 1000 !important;
}

.mud-drawer {
    z-index: 999 !important;
}
