.cv-container {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: #e4e6e8 !important;
}

.cv-card {
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #e4e6e8 !important;
}

.cv-personal-info {
    text-align: center;
    background-color: #e3f2fd;
    padding: 1rem;
}

.cv-profile-image {
    border-radius: 50%;
    margin-bottom: 1rem;
}

.cv-skills, .cv-summary, .cv-projects, .cv-experience {
    padding: 1rem;
    background-color: #ffffff;
}

.cv-skills {
    font-family: 'Droid Sans', sans-serif !important;
}

.company-logo {
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.responsibility-item {
    margin-left: 1rem;
}

.mud-avatar > .mud-image:hover {
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out !important;
}

.mud-progress > .mud-progress-linear-bars > .mud-progress-linear.mud-progress-linear-small.mud-progress-linear-color-info.horizontal {
    border: 1px solid rgba(0,0,0,0.5) !important;
    width: 90% !important;
}

.mud-tooltip-root {
    width: 90% !important;
}

.full-width-tooltip .mud-tooltip-root {
    width: 100% !important;
}
