@code {
    [Parameter]
    public string ArticleUrl { get; set; }

    [Parameter]
    public string ArticleTitle { get; set; }
}

<div class="social-share-buttons">
    <a href="https://twitter.com/intent/tweet?url=@ArticleUrl&text=@ArticleTitle" target="_blank">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=@ArticleUrl" target="_blank">Facebook</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=@ArticleUrl&title=@ArticleTitle" target="_blank">LinkedIn</a>
    <a href="https://www.reddit.com/submit?url=@ArticleUrl&title=@ArticleTitle" target="_blank">Reddit</a>
</div>
